.form {
    position: absolute;
}

.form-del-ticket {
    max-width: 600px;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    background-color: white;
    border: 1.5px solid gray;
    border-radius: 16px;
}

.form-edit-ticket {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    border: 1.5px solid gray;
    border-radius: 16px;
}

.form-create-ticket {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    border: 1.5px solid gray;
    border-radius: 16px;
}