.checkbox-label {
    display: inline-block;
}

.checkbox-label::before {
    content: '';
    margin-right: 30px;
    display: inline-block;
    vertical-align: middle;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: white;
}

.label-short-description {
    margin: 0;
    margin-bottom: 15px;
    font-size: 1.1rem;
    font-weight: normal;
    color: gray;
    text-align: left;
}